@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hi Welcome to my Unit 1 Project</h1>
<p>This is based on my artwork and photography.</p>
<u1>
    <li>@Html.ActionLink("Art View", "ArtView.cshtml")</li>
    <li>@Html.ActionLink("Photo View", "PhotoView.cshtml")</li>
</u1>
<p>Music by Takeshi Abo</p>
<audio controls>
    <source src="/css/takeshiaboLEASE.mp3" type="audio/mp3" />
</audio>